.div1{
    display: flex;
    justify-content: space-between;
}
.btn2{
    color: white;
    background-color: black;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    width: 100%;
}
.spacing{
    padding: 50px;
}