.align{
    display: flex;
    justify-content: space-between;
    background-color: rgb(242, 238, 238);
}
.bgcolor{
     background-color: rgb(242, 238, 238);
    margin: 60px;
    padding: 30px;
    border-radius: 9px;
}
.button1{
    background-color: black;
    color: white;
    padding: 10px 40px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 9px;

}
